body {
	overflow: hidden;
}

#wrapper {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	background-color: black; 
	background-image: url("../media/images/salmon_beach.jpg"); 
	background-position: center 70%;
	background-size: cover;
	background-repeat: no-repeat;
	scrollbar-color: #314243 rgba(76, 94, 106, 0.6);
}

#wrapper::-webkit-scrollbar {
	display: block;
	overflow: auto;
	width: 20px;
	background-color: rgba(76, 94, 106, 0.6);
}

#wrapper::-webkit-scrollbar-thumb {
	background: #314243;
}

.grid-1, .grid-2, .grid-3 {
	scroll-snap-align: center;
}

.grid-1 {
	grid-area: 1;
}
.grid-2 {
	grid-area: 2;
}
.grid-3 {
	grid-area: 3;
}
.grid-4 {
	grid-area: side;
}

.container {
	display: grid;
	justify-content: center;
	text-align: center;
	font-family: "EB Garamond", serif;
}

.container > * > * {
	align-items: center;
	background: linear-gradient(to bottom left, rgba(76, 94, 106, 0.6) 0%, rgba(150, 140, 150, 0.8) 100%);
	border: 6px outset #314243;
	border-radius: 20px;
	box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.5);
}

.headshot {
	height: 100%;
	display: flex;
  justify-content: center;
  align-items: center;
}

.headshot img {
	max-height: 90%;
	width: auto;
	border: 2px solid black;
}

.tooltiptext {
	font-family: "Satisfy", cursive;
}

.headshot .tooltiptext {
  visibility: hidden;
  width: 30vw;
  background-color: rgb(150, 140, 150);
  color: black;
  text-align: center;
  padding: 5px 0;
  border: 1px solid black;
  border-radius: 6px;
  position: fixed;
  z-index: 1;
  bottom: 5px;
  left: 35vw;
}

.headshot:hover .tooltiptext {
  visibility: visible;
}

.fluff {
	height: 100%;
	display: flex;
  justify-content: center;
  align-items: center;
}

.fluff img {
	max-height: 90%;
	width: auto;
	border: 2px solid black;
}

@media screen and (min-width: 960px) and (min-height: 540px) {
	#navbar {
		display: flex;
		position: absolute;
		top: 0;
		width: 100vw;
		justify-content: center;
	}
	#navbar ul {
		display: flex;
		justify-content: center;
		border-bottom: 4px ridge #314243;
		border-radius: 6px;
	}
	#navbar ul > * a {
		float: left;
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
		color: black;
		background-color: rgba(176, 183, 202, 0.8);
		border: 2px outset #314243;
		border-radius: 3px 5px 10px 5px;
		padding:  10px;
		margin: 10px;
		text-align: center;
		box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
	}
	.container {
		grid-row-gap: 30vh;
		grid-column-gap: 6vw;
		padding-top: 15vh;
		padding-bottom: 15vh;
		grid-template-rows: repeat(3, 70vh);
		grid-template-columns: 60vw 20vw;
		grid-template-areas: 
			"1 side"
			"2 side"
			"3 side";
	}
	.grid-4 {
		grid-row: 1 / span 3;
	}
	.container > * > * {
		padding:  20px;
		display:  grid;
		grid-gap: 10px;
		font-size: 20px;
		height: 65vh;
	}
	.grid-1 .panel {
		grid-template-rows:
			[headshot-start] 1fr
			[content-1-start] 1fr;
		grid-template-columns: 
			[headshot-start] 1fr
			[phead-start] 2fr;
	}
	.grid-1 .panel .content-1 {
		grid-column: 1 / span 2;
	}
	.grid-2 .panel {
		grid-template-rows: 1fr 2fr 4fr;
		grid-template-columns: 2fr 5fr;
	}
	.grid-2 .panel .phead, .content-3 {
		grid-column: 1 / span 2;
	}
	.grid-2 .panel .content-1 {
		grid-column: 1 / 2;
	}
	.grid-2 .panel .content-2 {
		grid-column: 2 / 3;
	}
	.grid-3 .panel {
		grid-template-rows: 1fr 3fr 3fr;
		grid-template-columns: 2fr 1fr;
	}
	.grid-3 .panel .content-2 {
		grid-column: 1 / span 2;
	}
	.grid-3 .panel .phead, .content-1 {
		grid-column: 1 / 2;
	}
	.grid-3 .panel .fluff {
		grid-row: 1 / span 2;
		grid-column: 2 / 3;
	}
	.panel-side {
		position: fixed;
		width: 17.5vw;
	}
}