body {
	overflow: hidden;
}

#wrapper {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	background-color: black; 
	background-image: url("../media/images/salmon_beach.jpg"); 
	background-position: center 70%;
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	display: grid;
	grid-row-gap: 30vh;
	grid-column-gap: 6vw;
	padding-top: 15vh;
	padding-bottom: 15vh;
	justify-content: center;
	text-align: center;
	font-size: 60px;
}

.container > * > * {
	align-items: center;
	background: linear-gradient(to bottom left, rgba(76, 94, 106, 0.6) 0%, rgba(150, 140, 150, 0.8) 100%);
	border: 6px outset #314243;
	border-radius: 20px;
	box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.5);
}

.row-1, .row-2, .row-3 {
	scroll-snap-align: center;
}

.row-1 {
	grid-area: 1;
}
.row-2 {
	grid-area: 2;
}
.row-3 {
	grid-area: 3;
}
.col-side {
	grid-area: side;
}

@media screen and (min-width: 720px) {
	.container {
		grid-template-rows: repeat(3, 70vh);
		grid-template-columns: 60% 20%;
		grid-template-areas: 
			"1 side"
			"2 side"
			"3 side";
	}
	.col-side {
		grid-row: 1 / span 3;
	}
	.panel-side {
		height: 70vh;
		position: fixed;
		width: 20%;
	}
	.panel-1, .panel-2, .panel-3 {
		height: 100%;
	}
}